@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

body{
    background-color: rgba(42, 5, 161, 0.775);
}
header{
    text-align: center;
    font-size: large;
}

* {
    margin: 5px;
    padding: 2%;
    text-align: center;
}
.LinhaB{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #fff;
    font-size: 1.rem;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
}

.Acentos{
    background-color: rgb(73, 73, 101);
    color: #f7f7f7;
}

.Acentos:active{
    background-color: orange;
}
.Acentos.reservado {
    background-color: red;
}
